table{
    width: 100%;
    height: 100%;
}

tr{
    font-size: 30px;
}

.el1 {
    background-color: yellow;
    height: 100px;
}

.el2 {
    background-color: blue;
    width: 300px;
}

.el3 {
    background-color: lightgray;
    width: 300px;
}

.el4 {
    background-color: red;
    height: 100px;
}

.high-column {
    height: 500px;
}