button.sidebuttonlarge {
    font-size: 17px;
    width: 200px; 
    height: 60px; 
    margin-left: 7%; 
    margin-bottom: 30px; 
    border-radius: 60px;
}

button.sidebuttonsmall {
    font-size: 14px;
    width: 150px; 
    height: 40px; 
    margin-left: 25%; 
    margin-bottom: 30px; 
    border-radius: 20px;
}

button.sidebuttonlarge:hover{
    box-shadow: 0 0 15px rgb(133, 133, 133);
}

button.sidebuttonlarge:active{
    box-shadow: 0 0 0;
}

button.sidebuttonsmall:hover{
    box-shadow: 0 0 10px rgb(133, 133, 133);
}

button.sidebuttonsmall:active{
    box-shadow: 0 0 0;
}