aside.sidebar{
    float: left; 
    position: left; 
    width: 235px;
    font-size: 20px;
    background: #e0e0e0ec;
}

details > summary{
    user-select: none;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(239, 239, 239);
    margin: 0em;
    padding: 15px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
    font-size: 17px;
    width: 200px; 
    height: 60px; 
    margin-left: 7%; 
    margin-bottom: 30px; 
    border-radius: 60px;
}

details > summary:hover{
    box-shadow: 0 0 15px rgb(133, 133, 133);
}

details > summary:active{
    box-shadow: 0 0 0;
}