.topbutton {
    appearance: button;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #EFEFEF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 140px;
    height: 40px; 
    border: 2px solid #353535;
    border-radius: 20px;
}

.topbutton:hover{
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

.topbutton:active{
    box-shadow: 0 0 0;
}