button.topbutton {
    font-size: 20px;
    width: 170px;
    height: 60px; 
    border-radius: 60px;
}

button.topbutton:hover{
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

button.topbutton:active{
    box-shadow: 0 0 0;
}